---
import Layout from "../../../../layouts/Layout.astro";

import { getLangFromUrl, useTranslations } from "../../../../i18n/utils";
import { ELEMENTARY_PRINCIPLES_CATECHESIS } from "../../../../i18n/catechesis/booklet/elementary-principles";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("home.title")}>
  <section id="catequesis" class="grid grid-cols-auto-fill-300 gap-4 w-full">
    {
      ELEMENTARY_PRINCIPLES_CATECHESIS[lang].map(({ title, pathname }, i) => (
        <a
          href={`/${lang}${pathname}`}
          class="flex flex-col border p-4 rounded-md shadow-sm hover:shadow-md transition-all duration-200 bg-white"
        >
          <span class="text-gray-600 font-semibold">
            {t("home.lesson")} {i + 1}
          </span>
          <span class="text-xl font-semibold">{title}</span>
        </a>
      ))
    }
  </section>
</Layout>
