---
import Layout from "../../../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";

import { SONGS } from "../../../i18n/songs";
import { LYRICS } from "../../../i18n/lyrics";
import { toAsciiSlug } from "../../../utils/toAsciiSlug";

export function getStaticPaths() {
  return Object.values(LYRICS).map((song) => ({
    params: { song: `${toAsciiSlug(song.title)}` },
  }));
}

const { song } = Astro.params;

const lang = getLangFromUrl(Astro.url);

const songData = SONGS[lang].find(({ pathname }) => pathname.endsWith(song));

const t = useTranslations(lang);
---

<Layout title={t("home.title") + " | " + songData?.title}>
  <div class="mx-auto">
    <h1 class="text-3xl mb-8 font-bold">{songData?.title}</h1>
    <div class="flex justify-center gap-4 flex-col">
      {
        songData?.lyrics.map((stanza) => (
          <p class="text-lg font-semibold">
            {stanza.map((verse) => (
              <>
                {verse}
                <br />
              </>
            ))}
          </p>
        ))
      }
    </div>
  </div>
</Layout>
