---
import Layout from "../../../layouts/Layout.astro";

import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import { BOOKLETS } from "../../../i18n/catechesis/booklet/booklets";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("home.title")}>
  <section
    id="catequesis"
    class="grid grid-cols-auto-fill-300 grid-rows-auto-fill-150 gap-4 w-full"
  >
    {
      BOOKLETS[lang].map(({ title, pathname }, i) => (
        <a
          href={`/${lang}${pathname}`}
          class="flex flex-col border border-gray-200 p-4 rounded-md shadow-xs hover:shadow-md transition-all duration-200 bg-white"
        >
          <span class="text-xl font-semibold">{title}</span>
        </a>
      ))
    }
  </section>
</Layout>
