---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
  getRouteFromUrl,
} from "../i18n/utils";
import { routes } from "../i18n/routes/routes";
import clsx from "clsx";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const t = useTranslations(lang);

const route = getRouteFromUrl(Astro.url);

const catechesisRoute = routes[lang]["/catechesis"];
const teachingRoute = routes[lang]["/teaching"];
const catechesisRouteEnglish = routes["en"]["/catechesis"];
const teachingRouteEnglish = routes["en"]["/teaching"];
---

<div role="presentation" class="fixed z-50 inset-0 invisible">
  <div
    id="backdrop"
    class="fixed invisible opacity-0 -z-[1] inset-0 transition-opacity bg-black bg-black/50"
  >
  </div>
  <div
    id="drawer"
    class="fixed invisible inset-0 transition-transform w-72 h-full z-50 bg-white -translate-x-72 shadow-md p-4"
  >
    <div class="mb-6">
      <img src="/main-icon-lg.webp" class="h-16" alt="catechesis book" width="261" height="64" />
    </div>
    <nav class="h-full">
      <ul class="flex flex-col gap-4 ml-auto text-xl">
        <li>
          <a
            href={translatePath(teachingRoute)}
            aria-label={t("nav.teaching")}
            class={clsx({ "text-blue-600 bg-blue-50 w-full px-2 py-1 rounded-sm": route?.startsWith(teachingRouteEnglish), "ml-2": !route?.startsWith(teachingRouteEnglish) })}>{t("nav.teaching")}</a
          >
        </li>
        <li>
          <a
            href={translatePath(catechesisRoute)}
            aria-label={t("nav.catechesis")}
            class={clsx({ "text-blue-600 bg-blue-50 w-full px-2 py-1 rounded-sm": route?.startsWith(catechesisRouteEnglish), "ml-2": !route?.startsWith(catechesisRouteEnglish) })}>{t("nav.catechesis")}</a
          >
        </li>
        <li>
          <a
            href={translatePath("/")}
            aria-label={t("nav.whoWeAre")}
            class={clsx({ "text-blue-600 bg-blue-50 w-full px-2 py-1 rounded-sm": route === undefined ,
            "ml-2": !Boolean(route === undefined)})}>{t("nav.whoWeAre")}</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
