---
import {
  getLangFromUrl,
  useTranslatedPath,
  getRouteFromUrl,
  useTranslations,
} from "../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";
import DropdownMenu from "./DropdownMenu.astro";
import InteractiveHamburgerMenu from "./InteractiveHamburgerMenu.astro";
import { routes } from "../i18n/routes/routes";
import MenuButton from "./MenuButton.astro";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const route = getRouteFromUrl(Astro.url);

const t = useTranslations(lang);

const teachingRoute = routes[lang]["/teaching"];
const catechesisRouteEnglish = routes["en"]["/catechesis"];
const teachingRouteEnglish = routes["en"]["/teaching"];
---

<header
  class="border border-gray-200 flex items-center gap-4 md:justify-between p-4 bg-white"
>
  <div class="flex items-center gap-4">
    <a href={translatePath("/")} aria-label={t("home.title")}>
      <div class="hidden md:block aspect-[4.08] w-[261px]">
        <img
          src="/main-icon-lg.webp"
          alt="catechesis book"
          class="h-full w-full object-contain"
          width="261"
        />
      </div>
      <img
        src="/main-icon-sm_6_cropped.webp"
        class="h-10 md:hidden"
        alt="in jesus likeness"
        width="40"
        height="40"
      />
    </a>
  </div>
  <nav class="hidden md:block" id="drawer-nav">
    <ul class="flex gap-1 ml-auto text-xl">
      <li>
        <MenuButton
          title={t("nav.teaching")}
          href={translatePath(teachingRoute)}
          shouldHighlight={route?.startsWith(teachingRouteEnglish)}
        />
      </li>
      <li>
        <DropdownMenu
          shouldHighlight={route?.startsWith(catechesisRouteEnglish)}
        />
      </li>
      <li>
        <MenuButton
          title={t("nav.whoWeAre")}
          href={translatePath("/")}
          shouldHighlight={route === undefined}
        />
      </li>
    </ul>
  </nav>
  <LanguagePicker />
  <InteractiveHamburgerMenu />
</header>
