---
import { languages } from "../i18n/ui";
import {
  getLangFromUrl,
  useTranslatedPath,
  getRouteFromUrl,
  type LangType,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const route = getRouteFromUrl(Astro.url);
---

<ul class="flex gap-2 ml-auto md:ml-0">
  {
    Object.entries(languages).map(([lang]) => (
      <li>
        <a href={translatePath(`${route ? route : "/"}`, lang as LangType)}>
          <img src={`/icons/${lang}.svg`} alt="flag" width="32" height="32"  />
        </a>
      </li>
    ))
  }
</ul>
